<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 200;
    padding: 500;
    overflow: hidden;
    background-color: #000;
    text-align: center;

}

li {
    float: left;
    text-align: center;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}

li a:hover {
    background-color: #999;
}
</style>
</head>
<body>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="highschool">High School</a></li>
  <li><a href="college">College</a></li>
  <li><a href="entertainment">Entertainment</a></li>
  <li><a href="health">Mental Health</a></li>
</ul>

</body>
</html>

<style>
html {
  background: url(https://i0.wp.com/www.solidcolore.com/3840/ffe2f1_background.jpg?ssl=1) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

</style>


<h1> Which college is right for you? </h1>

<h2> Type in a major and choose from the list! </h2>

<form method="POST" action="/collegelistings">
  <p> Major: <input type="text" name="major"></p>
  <input type="submit">

</form>

<!--<ul>-->
<!--
<!--<li>-->
<!--<>-->
<!--</li>-->
<!--<-->
<!--</ul>-->

<!--<h2> Type in a location and choose from the list!</h2>-->

<!--<form method="POST" action="/college">-->
<!--  <p> location: <input type="text" option="location"></p>-->
<!--  <input type="submit">-->

<!--</form>-->

<!--<ul>-->

<!--</li>-->

<!--</ul>-->

<h2> Type in a GPA and choose from the list! </h2>

<form method="POST" action="/gpalist">
  <p> GPA: <input type="text" name="gpa"></p>
  <input type="submit">

</form>
<h1>College Tips and Tricks!</h1>
<h2>Get Organized!</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/qXWdl0FN5q8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><iframe width="560" height="315" src="https://www.youtube.com/watch?v=96tCt6BChtU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/-MY9qdxqNGM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<h2>Take High Quality Notes!</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/FG6nAQIb1YM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<h2>How To Survive College</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/TQYLwgfA5l4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<!--<ul>-->


<!--</li>-->

<!--</ul>-->
