<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 200;
    padding: 500;
    overflow: hidden;
    background-color: #000;
    text-align: center;

}

li {
    float: left;
    text-align: center;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}

li a:hover {
    background-color: #999;
}
</style>
</head>
<body>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="highschool">High School</a></li>
  <li><a href="college">College</a></li>
  <li><a href="entertainment">Entertainment</a></li>
  <li><a href="help">Mental Health</a></li>
</ul>

</body>
</html>

<style>
html {
  background: url(https://i0.wp.com/www.solidcolore.com/3840/ffe2f1_background.jpg?ssl=1) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

</style>

<h1> Mental Health </h1>

<h2> Type in a emotion and we will try and lead you to the correct help. </h2>

<form method="POST" action="/healthinformation">
  <p> Emotions: <input type="text" name="emotion"></p>
  <input type="submit">

</form>


<h2>Or just want to learn!<h2>
<a href="https://www.mentalhealth.gov/basics">More Information</a>

<style>
h1 = {color :red;}
a = {color :blue;}

</style>
