<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- HTML Codes by Quackit.com -->
<marquee style="position:absolute;font-family:Cursive;font-size:100pt;color:#ffcc00;height:40;"scrollamount="7" direction="down">School Survival Guide!</marquee><marquee style="direction=down"></marquee>
<style>

body, html {
    height: 100%;
}

.parallax {

    background-image: url(https://www.rjuhsd.us/cms/lib/CA01001478/Centricity/Template/GlobalAssets/images///background%20image/Grad%202011.jpg) ;

    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

* { box-sizing: border-box;
 ;
}
p.menu {border-style: double;}
.menu{
   padding:35px;
  float:left;
  width:15%;
  text-align:center;
  border="10";
}
.menu a {
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:black;
  border-box:#555;
}
.main {
  float:left;
  width:80%;
  padding:20px;
  border-box:100px;
}
.right {
  float:left;
  width:20%;
  padding:25px;
  margin-top:7px;
  text-align:left;
  border-box:100px;
}
.left {
  float:left;
  width:20%;
  padding:25px;
  margin-top:7px;
  text-align:left;
  border:10px;
}
@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right, .left {
    width:100%;
  }
}
</style>

</head>
<body>

  <div class="parallax"></div>
<div style="height:90px;font-size:30px;text-align:center;color:black;font-family:Times New Roman;background-color:;">
  <h1>School Survival Guide</h1>
</div>

<div style="overflow:auto;font-family:Times New Roman;font-size:20;">
  <div class="menu">
    <a href="/">Home</a>
    <a href="highschool">High School</a>
    <a href="college">College</a>
    <a href="entertainment">Entertainment</a>
    <a href="health">Mental Health</a>

  </div>

<div class="main">
<div style="text-align:left;color:black;font-type:Times New Roman;font-size:26px;">
  <h2>Welcome</h2>
</div>
<div style="text-align:left;color:black;font-type:Times New Roman;font-size:20px;">
    <p>Ready to take on high school? College? Concerned about the state of your mental health? You've come to the right site! Use the navigation bar to read tips on surviving high school, finding the perfect college for you, taking the right steps to solve mental stress issues, or simply take a break and laugh! </p>
  </div>
  </div>
  <div class="main">
  <div style="text-align:left;color:black;font-type:Times New Roman;font-size:24px;">
  <h2>About</h2>
  </div>
  <div style="text-align:left;color:black;font-type:Times New Roman;font-size:20px;">
    <p>This site provides useful information concerning high school, college and self wellness.</p>
  </div>
  </div>
</div>
<div class="parallax"></div>
  <div class="parallax"></div>
  <div style=text-align:center;color:black;font-type:Arial;font-size:35px>
  <h3>Creators</h3>
  </div>
  <div style="text-align:center;color:black;font-type:Times New Roman;font-size:20px">
 <p>This site was created by Brooke, Taylor, Lidya, & Dagmawit.</p></div>
 <div style="text-align:center;color:black;font-type:Times New Roman;font-size:20px;">
  <p>We created this website in order to help people that need guidance like we do in terms of high school, college and happiness. </p>
  </div>
<div class="parallax"></div>
</body>
</html>
<style>
.menu
{
  background-image: url(https://i0.wp.com/www.solidcolore.com/3840/ffe2f1_background.jpg?ssl=1) ;
  border:4px;
border-style:solid;
padding:100em
border-color:#287EC7;
}
<!--.main-->
<!--{-->
<!--  background-image: url(http://images.all-free-download.com/images/graphiclarge/rippled_wall_background_01_hd_pictures_169887.jpg) ;-->
<!--  border:4px;-->
<!--padding:10em-->
<!--border-color:#287EC7;-->
<!--}-->
<!--</style>-->
