<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 200;
    padding: 500;
    overflow: hidden;
    background-color: #000;
    text-align: center;
    
}

li {
    float: left;
    text-align: center;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}

li a:hover {
    background-color: #999;
}
</style>
</head>
<body>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="highschool">High School</a></li>
  <li><a href="college">College</a></li>
  <li><a href="entertainment">Entertainment</a></li>
  <li><a href="health">Mental Health</a></li>
</ul>

</body>
</html>

<style>
html { 
  background: url(https://i0.wp.com/www.solidcolore.com/3840/ffe2f1_background.jpg?ssl=1) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

</style>


<center><h2> NEW MEMES EVERY MONDAY! </h2></center>
<html>
<body>
<center>
<img src="http://quotesnhumor.com/wp-content/uploads/2015/08/Top-50-Funniest-Memes-Collection-meme-pics.jpg" height="300" width ="300">
<img src="http://www.vitamin-ha.com/wp-content/uploads/2015/04/funny-memes164.jpg" height="300" width ="300">
<img src="https://jokideo.com/wp-content/uploads/2013/09/Funny-baby-meme.png" height="300" width ="300">
<img src="https://www.yourtango.com/sites/default/files/styles/body_image_default/public/image_list/9k%3D_17.jpg?itok=7uvdokuG" height="300" width ="300">
<img src="https://www.thoughtco.com/thmb/KX_E5ejq_7fqKjzarGgQKFc_nzQ=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/water-80-percent-570bcd0d3df78c7d9ef6a7f9.jpg" height="300" width ="300">
<img src="http://www.funny.kim/wp-content/uploads/2013/10/funny-memes-1.jpg" height="300" width ="300">
<img src="https://darkhorsenews.com/wp-content/uploads/2016/02/funny-memes25-1.jpg" height="300" width ="300">
<img src="http://quotesnhumor.com/wp-content/uploads/2015/08/Top-50-Funniest-Memes-Collection-memes-very-funny.jpg" height="300" width ="300">
<img src="https://d2pu2bk1b66iw6.cloudfront.net/photos/2014/08/01/6-75100-mm_babymeme54-1406927588.jpg" height="300" width ="300">
<img src="https://fthmb.tqn.com/U03thiNHT02cP3JHQe91HlC7SQY=/735x0/meme-baby1-580700253df78cbc28b1b442.PNG" height="300" width ="300">
<img src="http://thuglifememe.com/wp-content/uploads/2018/01/24-english-memes-1.jpg" height="300" width ="300">
<img src="http://i0.kym-cdn.com/photos/images/newsfeed/001/217/729/f9a.jpg" height="300" width ="300">
<img src="https://i.pinimg.com/originals/83/1b/08/831b084c98ba545c9cfcfab438a98b12.jpg" height="300" width ="300">
<img src="https://static.boredpanda.com/blog/wp-content/uploads/2017/03/xx-58d12c46ad429__700.jpg" height="300" width ="300">
<img src="http://dailypicdump.com/media/20160817/relatable-funny-meme-memes.jpg" height="300" width ="300">
<img src="https://www.bestfunnies.com/wp-content/uploads/2015/05/Funny-Memes-1-570x641.jpg" height="300" width ="300">
<img src="https://allgiftsconsidered.com/wp-content/uploads/2012/09/success-meme.jpg" height="300" width ="300">
<img src="http://thinkingmeme.com/wp-content/uploads/2017/09/Top-23-funny-Memes7.jpg" height="300" width ="300">
<img src="https://quoteshumor.com/wp-content/uploads/2016/05/Top-40-Funny-Cat-Memes-21-Funny-cats.jpg" height="300" width ="300">
<img src="https://quotespics.net/wp-content/uploads/2018/03/funniest-memes-of-2018.jpg" height="300" width ="300">
<img src="http://www.mathfunny.com/images/mathpics-mathjoke-mathmeme-pic-joke-math-meme-haha-funny-humor-pun-lol-exam-test-ahhhhh-anxiety-five.jpg" height="300" width ="300">
<img src="http://sweetytextmessages.com/wp-content/uploads/2018/01/1-Funny-Sarcastic-Memes.jpg" height="300" width ="300">
<img src="https://instrumentalfx.co/wp-content/uploads/2017/12/Monday-Meme-4-300x293.jpg" height="300" width ="300">
<img src="https://i.pinimg.com/originals/83/a5/83/83a5839eb38006d6495c386846de3363.jpg" height="300" width ="300">

</center>
</body>
</html>

