<style>
html {
  background: url(https://i0.wp.com/www.solidcolore.com/3840/ffe2f1_background.jpg?ssl=1) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

</style>

<h1>SUICIDE HELP</h1>
<h2>USA Suicide Hotline: 1-800-273-8255</h2>
<h2>USA Sexual Assault Hotline: 1-800-656-4673</h2>
<h2><a href="http://ibpf.org/resource/list-international-suicide-hotlines">International Suicide Hotlines</a></h2>
